.expenseBody{
    margin: 4% 4% 0 8%;
}
.addExpense{
    padding: 1%;
    margin-top: 2%;
}
.search-form{
    float: right;
    width: 20rem;
}

input{
    margin: 1.5%;
    border-style: solid;
    border-color: #503ddd;
}
.containerExpenses{
    padding: 30px;
}
.btn-icon{
    size: 0.25rem;
    color: rgb(255, 255, 255);
}
.expenseButton{
    margin-top: 2px;
}