input[type=text] {
  border: 2px solid rgb(92, 79, 79);
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
.container {
    border-radius: 10px;
    background-color: grey;
    padding: 10px;
    margin-top: 10px;
    width: 600px;
  }